.navbar-nav>a>a{
  color:white;
  text-decoration: none;
  margin: 0 20px;
  font-size: 15px;
}
.navbar-nav>a>a:hover{
  text-decoration: none;
  color:gray;
}

.navbar{
  background-color: #2E2E2E !important;
}

.logo{
  width: 100px;
  height: 100px;
}

.navbar-nav>a>a>ion-icon{
  font-size: 25px;
}