.detalleCompra{
    margin-top: 30px;
    background: white;
    border: 1px solid gray;
    border-radius: 5px;
    -webkit-box-shadow: 3px 8px 4px 0px rgba(0,0,0,0.4);
    -moz-box-shadow: 3px 8px 4px 0px rgba(0,0,0,0.4);
    box-shadow: 3px 8px 4px 0px rgba(0,0,0,0.4);
}